@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-image {
    grid-area: image;
  }
  .grid-title {
    grid-area: title;
  }
  .grid-featured {
    grid-area: featured;
  }
  .grid-podcast {
    grid-area: podcast;
  }
  .grid-about {
    grid-area: about;
  }
  .grid-articles {
    grid-area: articles;
  }
  .min-h-70vh {
    min-height: 70vh;
  }
  @variants responsive {
    .h-500px {
      height: 500px;
    }
    .desktop-template {
      grid-template:
        "image title title" auto
        "image featured podcast" auto / 2fr 2fr 3fr;
    }
    .tablet-template {
      grid-template:
        "image title"
        "image featured"
        "podcast podcast";
    }
    .mobile-template {
      grid-template:
        "image"
        "title"
        "featured"
        "podcast";
    }
  }
}

.portable-text p {
  @apply mb-5;
  @apply text-lg;
}

#buzzsprout {
  min-height: 200px;
  @apply bg-white;
  @apply rounded-md;
}

#buzzsprout-large-player {
  min-height: 375px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
